<div class="content-desktop">
  <div class="align-center">
    <mat-card>
      <p>CAMPEONATO DE FILMES</p>
      <mat-divider></mat-divider>
      <h1>Resultado Final</h1>
      <h2>
        Veja o resultado final do campeonato de filmes de forma simples e rápida.
      </h2>
    </mat-card>
    <div class="resultado">
        <div class="line-film">
            <div class="number-film">
                <p>1º</p>
            </div>
            <div class="title-film">
                <p>Hagnarok</p>
            </div>
        </div>
    </div>
  </div>
</div>
