<div class="content-desktop">
  <div class="align-center">
    <mat-card>
      <p>CAMPEONATO DE FILMES</p>
      <mat-divider></mat-divider>
      <h1>Fase de seleção</h1>
      <h2>
        Selecione 8 filmes que você deseja que entrem na competição e depois pressione o botão
        Gerar Meu Campeonato para prosseguir.
      </h2>
    </mat-card>
    <div class="count">
      <div class="f-left">
        <p>Selecionados <span>{{challengeMovies.length}}</span> de 8 filmes</p>
      </div>
      <div class="f-right" *ngIf="challengeMovies.length == 8">
        <mat-button-toggle value="bold" (click)="challenge()">GERAR MEU CAMPEONATO</mat-button-toggle>
      </div>
      <div class="f-right-unclickable" *ngIf="challengeMovies.length != 8">
        <mat-button-toggle>GERAR MEU CAMPEONATO</mat-button-toggle>
      </div>
    </div>
    <mat-grid-list cols="4" rowHeight="2:1" *ngIf="movies != null">
      <mat-grid-tile *ngFor="let movie of movies">
        <!--item-->
        <mat-card class="custom-card">
          <div class="f-left">
            <mat-checkbox (change)="changeCheck($event)" value="{{movie.id}}">
            </mat-checkbox>
          </div>
          <div class="f-right">
            <b>{{movie.titulo}}</b>
            <p>{{movie.ano}}</p>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
